{% extends "authentication/layout.html" %}
{% block title %}
LOGIN
{% endblock %}
{% block content %}
<div class="login-page">
    <div class="form">
      <form class="login-form" action = "" method="post">
         {% csrf_token %}
        <input type="text" placeholder="username" name = "username"/>
        <input type="password" placeholder="password" name ="password"/>
        <button>login</button>
        <a href="{%url 'admin:index' %}">Go to admin site</a>
        {% for message in messages %}
        {{message}}
        {% endfor %}
      </form>
    </div>
  </div>
{% endblock %}