
.message {
    font-weight: 600;
    color: blue;
}
.navbar {
    background-color: gray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    padding: 20px 10px 20px 10px;
    text-align: left;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
    
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 900px;
}

/*My css*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
/*setting*/
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 230px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    margin-top: -15px;
  }
  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #4154f1;
  }
  .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }
  .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
  }
  .sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }
  .sidebar-nav .nav-link:hover i {
    color: #4154f1;
  }
  .menu_1 {
    display: none;
  }
  .menu_2 {
    display: none;
  }
  .menu_3 {
    display: none;
  }
  .menu_4 {
    display: none;
  
  }
  .addd_mon {
  float:right;
  margin-right: 25px;
  display:block;
  }

  /* Event css*/
  .main-site-event{
    margin: 0;
    background-color: whitesmoke;
  }
  .calendar {
    width: 80%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 75px;
    height: 80px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
  }
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: blue;
    box-shadow: 0 0 0 0;
  }
  
  
  #create_event_form {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0%;
    left: 0%;
    padding-left: 15%;
    padding-top: 10%;
  }
  
  .popup_content {
    position: relative;
    background-color: rgb(22, 110, 44, 0.9);
    margin: 0 auto;
    padding: 20px;
    width: 500px;
  }

  .label_sukien {
    font-weight: 500;
    color: black;
  }
  
  /* End event css */