{% extends "management/layout.html" %}
{% load bootstrap5 %}
{% block title %} {% endblock %}

{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
    {% comment %} <div class="row"> {% endcomment %}
        <!-- Phần này cho danh sách bàn và menu -->
        <div id="container_1">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Danh Sách Bàn</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                    <!-- Content Danh sách bàn -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="btn_matrix" role="group" aria-label="Three Column Button Matrix">
                            <form action="" method="post">
                            {% for ban in bans %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn_ban" value='{{ban.so_ban}}' name = "choose_ban">
                                        Bàn số    : {{ban.so_ban}} <br>
                                        Trạng thái: {{ban.trang_thai}}
                                    </button>
                            {% endfor %}
                            </form>
                            
                          </div>
                    </div>
              </div>

        </div>
        <!-- Phần này cho Hóa đơn -->
        <div id="container_2">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Lịch đặt</button>
            </div>
          </nav>
            <form name="bookingForm" action="" method="post" onsubmit="return validateform()">
                Số bàn : {{so_ban}}
                {% csrf_token %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col"> Số bàn </th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody id="bang_hoa_don">
                      {% for dat_ban in dat_bans %}
                     <tr >
                        <th scope="row"></th>
                        <td class="ho_ten">{{dat_ban.ho_ten}}</td>
                        <td class="sdt">{{dat_ban.sdt}}</td>
                        <td class="so_ban">{{dat_ban.so_ban.so_ban}}</td>
                        <td class="thoi_gian"> {{dat_ban.thoi_gian}}</td>
                        <th>
                          <button type="submit" value='{{dat_ban.ma_dat_ban}}' name="delete_booking">Hủy</button>
                        </th>
                    </tr>   
                    {% endfor %}       
                      <!-- if else -->
                     {% comment %} <tr >
                        <th scope="row"></th> {% endcomment %}
                        {% comment %} <td class="ho_ten"><input name="ho_ten" type="text"  /></td>
                        <td class="sdt"><input name="sdt" type="text"  /></td>
                        <td class="so_ban">{{so_ban}}</td>
                        <td class="thoi_gian"><input name="thoi_gian" type="text"  /> </td> {% endcomment %}
                        {% comment %} <th></th>
                    </tr>  {% endcomment %}
                    <div class="ho_ten">Họ tên: <input name="ho_ten" type="text"  /></div>
                    <div class="sdt">Số điện thoại: <input name="sdt" type="text"  /></div>
                    <div class="thoi_gian">Thời gian: <input type="datetime-local" name="thoi_gian"></div>
                    </tbody>
                </table>
                <button type="submit" value='{{so_ban}}' name="booking_table" id="dat__ban">Đặt bàn</button>
                
            </form>  
        </div>

    {% comment %} </div> {% endcomment %}
  </div>
  <script>
    var soban= document.bookingForm.booking_table.value;
    if(soban== null || soban ==""){
      document.getElementById("dat__ban").disabled= true;
    }

    function validateform() {
    var name = document.bookingForm.ho_ten.value;
    var sdt = document.bookingForm.sdt.value;
    var thoigian = document.bookingForm.thoi_gian.value
    if (name == null || name == "") {
    alert("Họ tên không được để trống!");
    return false;
    } else if (sdt== null || sdt=="") {
    alert("Số điện thoại không được để trống!");
    return false;
    } else if (thoigian== null || thoigian=="") {
    alert("Thời gian không được để trống!");
    return false;
    }
    }
  </script>
{% endblock %}