{% extends "management/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div>
    <div>
        {% for ban in bans %}
        {% if  ban.ma_hoa_don.ma_hoa_don is not None %}
            <button>
            <a href="{% url 'hoadon' ban.ma_hoa_don.ma_hoa_don %}">
            <p>Bàn số : {{ban.so_ban}}</p>
            <p>Trạng thái: {{ban.trang_thai}}</p>
            <p>Mã hóa đơn: {{ban.ma_hoa_don.ma_hoa_don}}</p>
            </a>
            </button>
        {% else %}
        <button>
            <a href="{% url 'home' %}">
                <p>Bàn số : {{ban.so_ban}}</p>
                <p>Trạng thái: {{ban.trang_thai}}</p>
                <p>Mã hóa đơn: {{ban.ma_hoa_don.ma_hoa_don}}</p>
            </a>

        </button>
        {% endif %}        
{% endfor %}
    </div>
    <div>
        <form action="" method="post" name="menu">
            {% csrf_token %}
            <p>Mã hóa đơn : {{hoa_don.ma_hoa_don}}</p>
            <p>Ngày : {{hoa_don.}}</p>
            <button name="add_hoa_don">Thêm hóa đơn</button>
            <button name="thanh_toan">Thanh toán</button>
        </form>

    </div>
</div>
{% endblock %}