{% extends "management/layout.html" %}
{% load bootstrap5 %}
{% block title %} {% endblock %}

{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
    <div class="row">
        <!-- Phần này cho danh sách bàn và menu -->
        <div class="col-sm">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Danh Sách Bàn</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Menu</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                    <!-- Content Danh sách bàn -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="btn_matrix" role="group" aria-label="Three Column Button Matrix">
                            <form action="" method="post">
                            {% for ban in bans %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn_ban" value='{{ban.so_ban}}' name = "choose_ban">
                                        Bàn số    : {{ban.so_ban}} <br>
                                        Trạng thái: {{ban.trang_thai}}
                                    </button>
                            {% endfor %}
                            </form>
                            
                          </div>
                    </div>
                    <!-- Content cho danh sách thực đơn -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        {% comment %} <form action="" method="post"> {% endcomment %}
                            Số bàn : {{so_ban}}
                            {% comment %} {% csrf_token %}  {% endcomment %}
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Đơn vị</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">#</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for mon in mon_ans %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{mon.ten_mon}}</td>
                                        <td>{{mon.don_vi}}</td>
                                        <td>{{mon.gia}}</td>
                                        <td>
                                          
                                            <button onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>
                                          
                                        </td>
                                      </tr>      
                                    {% endfor %}
                                </tbody>
                            </table>
                         {% comment %} </form>  {% endcomment %}
                    </div>
              </div>

        </div>
        <!-- Phần này cho Hóa đơn -->
        <div class="col-sm">
            <h1>Hóa đơn</h1>
            <p>Mã hóa đơn : {{hoadon.ma_hoa_don}}</p>
            <form action="" method="post">
                Số bàn : {{so_ban}}
                {% csrf_token %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col"> Đơn Giá </th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody id="bang_hoa_don">
                    {% for dat_mon in dat_mons %}
                     <tr >
                        <th scope="row"></th>
                        <td class="ten__mon">{{dat_mon.get_ten_mon}}</td>
                        <td class="so__luong">{{dat_mon.so_luong}}</td>
                        <td class="gia__mon"> </td>
                        <td class="thanh__tien"> {{dat_mon.thanh_tien}}</td>
                        <th></th>
                    </tr>  
                    {% endfor %}                      
                      <!-- if else -->

                    </tbody>
                </table>
                <p style="float:right"> Tổng tiền: {{hoadon.don_gia}}   </p> 
                <button type="submit" value='{{so_ban}}' name="add_hoa_don">Lưu hóa đơn</button>
                <button type="submit" value='{{so_ban}}' name="remove_hoa_don">Xóa hóa đơn</button>
                <button type="submit" value='{{so_ban}}' name="pay">Thanh toán</button>
            </form>  
        </div>

    </div>
  </div>

{% endblock %}