{% extends "management/layout.html" %}
{% load bootstrap5 %}
{% block title %}

{% endblock %}
{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="row">
<div class="col-sm-2">
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      
        <li class="nav-heading">
          <span>SETTING</span>
        </li>
      <!-- End  -->

      <li class="nav-item">
        <button class="nav-link collapsed" style="border: none;" onclick="set_menu()">
          <span>Menu&Table</span>
        </button>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <button class="nav-link collapsed" style="border: none;" onclick="set_emp()">
          <span>Employees</span>
        </button>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin:index' %}">Admin site</a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
</div>
<div class="emp" style="display:none;">
  <div class="col-sm-10">
    <table class="table" style="background-color:rgba(206, 206, 206, 0.9); color:#030b53">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Mã NV</th>
          <th scope="col">Họ</th>
          <th scope="col">Tên</th>
          <th scope="col">Email</th>
          <th scope="col">Chức vụ</th>
        </tr>
      </thead>
      <tbody>
        {% for user, group in users %}
        <tr>
          <td></td>
          <td>{{user.id}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.email}}</td>
          <td>{{group}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class= "setting_menu" style="display:contents;">
  <div class="col-sm-4">
    <form style="background-color:rgba(206, 206, 206, 0.9); color:#030b53" action="" method="post">
      {% csrf_token %}
      <label for="quantity">  Cài đặt số lượng bàn:</label>
      <input type="number" id="quantity" name="quantity" value="{{soluong_ban}}" min="1" max="30">
      <button type="submit" name="save_ban"onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Save</button>
    </form>
    
    <table class="table" style="background-color:rgba(206, 206, 206, 0.9); color:#030b53">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Mã</th>
          <th scope="col">Tên Menu</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
          {% for menu in menus %}
          <tr>
              <th scope="row"></th>
              <td>{{menu.ma_menu}}</td>
              <td>{{menu.ten_menu}}</td>
              <td>
                
                  <button onclick="menu_monan('{{menu.ma_menu}}')" >Edit</button>
                
              </td>
            </tr>      
          {% endfor %}
      </tbody>
  </table>
  <div>
    
    <table class="table" style="background-color:rgba(206, 206, 206, 0.9); color:#030b53">
      <thead>
        <tr>
          <th colspan="5" scope="colgroup" style="text-align: center;">Menu Đặc Biệt</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Món</th>
          <th scope="col">Giá</th>
          <th scope="col">Đơn vị</th>
          <th scope="col"><button style="width: 65px;" onclick="add_db()">Edit</button></th>
        </tr>
      </thead>
      <tbody>
          {% for monan in mondacbiet %}
            <tr>
              <th scope="row"></th>
              <td>{{monan.ten_mon}}</td>
              <td>{{monan.gia}}</td>
              <td>{{monan.don_vi}}</td>
              <td></td>
            </tr>      
          {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-sm-6">
    <form action="" method="post">
      {% csrf_token %}
    <table class="table" id="table_mon" style="background-color:rgba(206, 206, 206, 0.9); color:#030b53 ; margin-top: 30px;">
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">Tên</th>
          <th scope="col">Giá</th>
          <th scope="col">Đơn vị</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr class="themmonmoi" style="display: none;">
          <th scope="row"></th>
          <td><input style="width: 200px" type="text" name="tenmonan" placeholder="Tên món" ></td>
          <td><input style="width: 100px" type="number" min="0" step = "1000" name="giamonan" placeholder="Giá" ></td>
          <td><input style="width: 100px" type="text" name="donvimon" placeholder="Đơn vị" ></td>
          <td></td>
        </tr>
        <div class="MN">
          {% for monan in monans %}
              {% if  monan.ma_menu.ma_menu ==  "MN1" %}
              <tr class="menu_1" style="display: none;">
                <th scope="row"></th>
                <td>{{monan.ten_mon}}</td>
                <td><input style="width: 100px" type="number" min="0" step = "1000" name="giamonsua" value={{monan.gia}}></td>
                <td>{{monan.don_vi}}</td>
                <input type="text" value={{monan.ma_mon}} name="ma_monss" hidden>
                <td><button type="submit" name="xoa_mon" value= {{monan.ma_mon}} onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Delete</button></td>
              </tr>   
              {% elif monan.ma_menu.ma_menu ==  "MN2" %}
              <tr class="menu_2" style="display: none;">
                <th scope="row"></th>
                <td>{{monan.ten_mon}}</td>
                <td><input style="width: 100px" type="number" min="0" step = "1000" name="giamonsua" value={{monan.gia}}></td>
                <td>{{monan.don_vi}}</td>
                <input type="text" value={{monan.ma_mon}} name="ma_monss" hidden>
                <td><button type="submit" name="xoa_mon" value= {{monan.ma_mon}} onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Delete</button></td>
              </tr>  
              {% elif monan.ma_menu.ma_menu ==  "MN3" %}
              <tr class="menu_3" style="display: none;">
                <th scope="row"></th>
                <td>{{monan.ten_mon}}</td>
                <td><input style="width: 100px" type="number" min="0" step = "1000" name="giamonsua" value={{monan.gia}}></td>
                <td>{{monan.don_vi}}</td>
                <input type="text" value={{monan.ma_mon}} name="ma_monss" hidden>
                <td><button type="submit" name="xoa_mon" value= {{monan.ma_mon}} onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Delete</button></td>
              </tr>  
              {% elif monan.ma_menu.ma_menu ==  "MN4" %}
              <tr class="menu_4" style="display: none;">
                <th scope="row"></th>
                <td>{{monan.ten_mon}}</td>
                <td><input style="width: 100px" type="number" min="0" step = "1000" name="giamonsua" value={{monan.gia}}></td>
                <td>{{monan.don_vi}}</td>
                <input type="text" value={{monan.ma_mon}} name="ma_monss" hidden>
                <td><button type="submit" name="xoa_mon" value= {{monan.ma_mon}} onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Delete</button></td>
              </tr>
              {% endif %}
              
          {% endfor %}
      </div>
          
      </tbody>
  </table>
    <button id="savemn" value = "MN1" type = "submit" name="save_mon" class = "addd_mon" onclick="return confirm('Bạn có chắc chắn muốn sửa menu?')">Save</button>
  </form>
  </div>
  <div id="add_db_popup">
    <div style = " display: flex;">
      <button onclick="db_mn1()">MN1</button>
      <button onclick="db_mn2()">MN2</button>
      <button onclick="db_mn3()">MN3</button>
      <button onclick="db_mn4()">MN4</button>
    </div>
    <form action="" method="post">
      {% csrf_token %}
    <div class="content_add">
    <table class="table" style="background-color:rgba(206, 206, 206, 0.9); color:#030b53">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Món</th>
          <th scope="col">Giá</th>
          <th scope="col">Đơn vị</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
          <!-- {% for monan in monans %}
            <tr>
              <th scope="row"></th>
              <td>{{monan.ten_mon}}</td>
              <td>{{monan.gia}}</td>
              <td>{{monan.don_vi}}</td>
              <td>
                <input value = {{monan.ma_mon}} type = "checkbox" {% if monan.dac_biet == "YES" %} checked {% endif %} name = "list_add">              
              </td>
            </tr>      
          {% endfor %} -->
          <div class="MN">
            {% for monan in monans %}
                {% if  monan.ma_menu.ma_menu ==  "MN1" %}
                <tr class="dbmenu_1" style="display: table-row;">
                  <th scope="row"></th>
                  <td>{{monan.ten_mon}}</td>
                  <td>{{monan.gia}}</td>
                  <td>{{monan.don_vi}}</td>
                  <td><input value = {{monan.ma_mon}} type = "checkbox" {% if monan in mondacbiet %} checked {% endif %} name = "list_add"></td>
                </tr>   
                {% elif monan.ma_menu.ma_menu ==  "MN2" %}
                <tr class="dbmenu_2" style="display: none;">
                  <th scope="row"></th>
                  <td>{{monan.ten_mon}}</td>
                  <td>{{monan.gia}}</td>
                  <td>{{monan.don_vi}}</td>
                  <td><input value = {{monan.ma_mon}} type = "checkbox" {% if monan in mondacbiet %} checked {% endif %} name = "list_add"></td>
                </tr>  
                {% elif monan.ma_menu.ma_menu ==  "MN3" %}
                <tr class="dbmenu_3" style="display: none;">
                  <th scope="row"></th>
                  <td>{{monan.ten_mon}}</td>
                  <td>{{monan.gia}}</td>
                  <td>{{monan.don_vi}}</td>
                  <td><input value = {{monan.ma_mon}} type = "checkbox" {% if monan in mondacbiet %} checked {% endif %} name = "list_add"></td>
                </tr>  
                {% elif monan.ma_menu.ma_menu ==  "MN4" %}
                <tr class="dbmenu_4" style="display: none;">
                  <th scope="row"></th>
                  <td>{{monan.ten_mon}}</td>
                  <td>{{monan.gia}}</td>
                  <td>{{monan.don_vi}}</td>
                  <td><input value = {{monan.ma_mon}} type = "checkbox" {% if monan in mondacbiet %} checked {% endif %} name = "list_add"></td>
                </tr>
                {% endif %}
                
            {% endfor %}
        </div>
      </tbody>
    </table>
    <div style="margin-left: 82%;">
        <button name="save_db">Save</button>
      <button onclick='close_add_popup()' type="button">Cancel</button>
    </div>
    </div>
    </form>
  </div>
</div>

{% endblock %}
