{% extends "management/layout.html" %}
{% load bootstrap5 %}
{% block title %} {% endblock %}
{% block content %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
  .add_mon{
    border-radius:5px;
  }
  .del_mon{
    border-radius:5px;
  }
  .save_del_pay{
    border-radius:5px;
  } 
  .style_menu{
    height: 545px; 
    overflow:auto;
  }
  .table{
    margin: 0;
  }
</style>
<div class="container">
  <!-- Phần này cho Menu -->
  <div id="container_1">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Menu</button>
      </div>
    </nav>
    <!-- Content cho danh sách thực đơn -->
      <div style="overflow:auto; height: 630px" class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-menu1" type="button" role="tab" aria-controls="nav-menu1" aria-selected="true">Khai vị</button>
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-menu2" type="button" role="tab" aria-controls="nav-menu2" aria-selected="false">Món chính</button>
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-menu3" type="button" role="tab" aria-controls="nav-menu3" aria-selected="false">Hoa quả</button>
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-menu4" type="button" role="tab" aria-controls="nav-menu4" aria-selected="false">Thức uống</button>
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-menudb" type="button" role="tab" aria-controls="nav-menudb" aria-selected="false">Đặc biệt</button>
            </div>
          </nav>
        <div class="tab-content" id="nav-tabMenuContent">
          <div  class="tab-pane fade show active" id="nav-menu1" role="tabpanel" aria-labelledby="nav-menu1-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width :10%">Mã</th>
                  <th scope="col"style="width :40%">Tên</th>
                  <th scope="col"style="width :20%">Đơn vị</th>
                  <th scope="col"style="width :20%">Giá</th>
                  <th scope="col"style="width :10%">Chọn</th>
                </tr>
              </thead>
            </table>
            <div class="style_menu" >
              <table class="table">
                <tbody>
                  {% for mon in menu1 %}
                    <tr>
                      <td style="width :10%">{{mon.ma_mon}}</td>
                      <td style="width :40%">{{mon.ten_mon}}</td>
                      <td style="width :20%">{{mon.don_vi}}</td>
                      <td style="width :20%">{{mon.gia}}</td>
                      <td style="width :10%">
                        <button id="addMeal{{mon.ten_mon}}" onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>                                          
                      </td>
                    </tr>      
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-menu2" role="tabpanel" aria-labelledby="nav-menu2-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width :10%">Mã</th>
                  <th scope="col"style="width :40%">Tên</th>
                  <th scope="col"style="width :20%">Đơn vị</th>
                  <th scope="col"style="width :20%">Giá</th>
                  <th scope="col"style="width :10%">Chọn</th>
                </tr>
              </thead>
            </table>
            <div class="style_menu" >
              <table class="table">
                <tbody>
                  {% for mon in menu2 %}
                    <tr>     
                      <td style="width :10%">{{mon.ma_mon}}</td>
                      <td style="width :40%">{{mon.ten_mon}}</td>
                      <td style="width :20%">{{mon.don_vi}}</td>
                      <td style="width :20%">{{mon.gia}}</td>
                      <td style="width :10%">
                        <button id="addMeal{{mon.ten_mon}}" onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>  
                      </td>
                    </tr>      
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-menu3" role="tabpanel" aria-labelledby="nav-menu3-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width :10%">Mã</th>
                  <th scope="col"style="width :40%">Tên</th>
                  <th scope="col"style="width :20%">Đơn vị</th>
                  <th scope="col"style="width :20%">Giá</th>
                  <th scope="col"style="width :10%">Chọn</th>
                </tr>
              </thead>
            </table>
            <div class="style_menu" >
              <table class="table">
                <tbody>
                  {% for mon in menu3 %}
                    <tr>                 
                      <td style="width :10%">{{mon.ma_mon}}</td>
                      <td style="width :40%">{{mon.ten_mon}}</td>
                      <td style="width :20%">{{mon.don_vi}}</td>
                      <td style="width :20%">{{mon.gia}}</td>
                      <td style="width :10%">                                            
                        <button id="addMeal{{mon.ten_mon}}" onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>                                              
                      </td>
                    </tr>      
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-menu4" role="tabpanel" aria-labelledby="nav-menu4-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width :10%">Mã</th>
                  <th scope="col"style="width :40%">Tên</th>
                  <th scope="col"style="width :20%">Đơn vị</th>
                  <th scope="col"style="width :20%">Giá</th>
                  <th scope="col"style="width :10%">Chọn</th>
                </tr>
              </thead>
            </table>
            <div class="style_menu" >
              <table class="table">
                <tbody>
                  {% for mon in menu4 %}
                    <tr>                     
                      <td style="width :10%">{{mon.ma_mon}}</td>
                      <td style="width :40%">{{mon.ten_mon}}</td>
                      <td style="width :20%">{{mon.don_vi}}</td>
                      <td style="width :20%">{{mon.gia}}</td>
                      <td style="width :10%">                                             
                        <button id="addMeal{{mon.ten_mon}}" onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>                                              
                      </td>
                    </tr>      
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-menudb" role="tabpanel" aria-labelledby="nav-menudb-tab">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width :10%">Mã</th>
                  <th scope="col"style="width :40%">Tên</th>
                  <th scope="col"style="width :20%">Đơn vị</th>
                  <th scope="col"style="width :20%">Giá</th>
                  <th scope="col"style="width :10%">Chọn</th>
                </tr>
              </thead>
            </table>
            <div class="style_menu" >
              <table class="table">
                <tbody>
                  {% for mon in menudb %}
                    <tr>
                      <td style="width :10%">{{mon.ma_mon}}</td>
                      <td style="width :40%">{{mon.ten_mon}}</td>
                      <td style="width :20%">{{mon.don_vi}}</td>
                      <td style="width :20%">{{mon.gia}}</td>
                      <td style="width :10%">                                   
                        <button id="addMeal{{mon.ten_mon}}db" onclick="addMealFunction('{{mon.ma_mon}}', '{{mon.ten_mon}}', '{{mon.gia}}')" class= "add_mon" >Add</button>        
                      </td>
                    </tr>      
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Phần này cho Hóa đơn -->
  <div id="container_2">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Hóa đơn</button>
      </div>
    </nav>
    <div style="padding: 15px; height:630px;overflow:auto" class="tab-content" id="nav-tabContent">
      <form name="take_awayForm" action="" method="post" onsubmit=" return validateTake_awayForm()">
        <input hidden id="ipid" name="ipname" value="69">
        <p style="font-weight: bold;margin: 3px">Mã hóa đơn : {{mahoadon}}</p>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold;margin: 3px"> Họ tên:     {{hotenkhachhang}}</p>
              <p style="font-weight: bold;margin: 3px"> Số ĐT :<input id="inputsdt" style="width:40%;border-radius:5px" name="thong_tin_khach_hang" type="text " value="{{thongtinkhachhang}}">
                <button onclick="searchTFunction()" style="border-radius:5px; margin: 0" type="submit" value='{{mahoadon}}' name="search_infor_kh" id= "search">
                  <img style="width:20px; " src="\static\images\icon-search.png" alt="Search" >
                </button> 
              </p>
            </div>
            <div class="col">
              <p style="font-weight: bold;margin: 3px;"> Điểm tích lũy:{{tientichluy}}</p>
              <input hidden name="dtl" value="{{tientichluy}}"> 
              <p style="font-weight: bold;margin: 3px"> Tiêu tích lũy:<input id="inputpoints" style="width:30%;border-radius:5px" name="so_diem_tieu" type="text" onkeypress="return isNumberKey(event)" onpaste ="false" >
                <button onclick="useTFunction()" style="border-radius:5px; margin: 0" type="submit" value='{{mahoadon}}' name="tieu_tich_luy" id="use">Use</button>
              </p>
            </div>
          </div>
          {% csrf_token %}
          <table style="margin: 0" class="table">
            <thead>
              <tr>
                <th style="width :30%" scope="col">Tên</th>
                <th style="width :20%" scope="col">Số lượng</th>
                <th style="width :20%" scope="col"> Đơn Giá </th>
                <th style="width :20%" scope="col">Thành tiền</th>
                <th style="width :10%" scope="col"></th>
              </tr>
            </thead>
          </table>
          <div style="height: 410px; overflow:auto;">
            <table class="table">
              <tbody id="bang_hoa_don">  
                {% for dat_mon in dat_mons %}
                  <tr >
                    <td style="width :30%" class="ten__mon">{{dat_mon.get_ten_mon}}</td>
                    <td style="width :20%" class="so__luong">{{dat_mon.so_luong}}</td>
                    <td style="width :20%" class="gia__mon">{{dat_mon.get_gia}}</td>
                    <td style="width :20%" class="thanh__tien"> {{dat_mon.thanh_tien}}</td>
                    <td style="width :10%"> </td>
                  </tr>  
                {% endfor %}                 
              </tbody>
            </table>
          </div>
          <div style="padding-left: 65%; font-weight: bold"> Tổng tiền: {{tongtien}}   </div>
            <input hidden name="tt" value="{{tongtien}}">
            <button onclick="saveTFunction()" class="save_del_pay" type="submit" value='{{mahoadon}}' name="add_hoa_don">Lưu hóa đơn</button>
            <button class="save_del_pay" type="submit" value='{{mahoadon}}' name="remove_hoa_don" id="xoahoadon">Xóa hóa đơn</button>
            <button class="save_del_pay" type="submit" value='{{mahoadon}}' name="pay_hoa_don" id="thanhtoan">Thanh toán</button>               
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  var mahoadon= document.take_awayForm.remove_hoa_don.value;
  var ttkh= document.take_awayForm.thong_tin_khach_hang.value;
  if(mahoadon== null || mahoadon ==""){
    document.getElementById("xoahoadon").disabled= true;
    document.getElementById("thanhtoan").disabled= true;
    document.getElementById("search").disabled= true;
    document.getElementById("inputsdt").disabled= true;
  }
  if(ttkh==null || ttkh==""){
    document.getElementById("use").disabled= true;
    document.getElementById("inputpoints").disabled= true;
  }
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
{% endblock %}