{% extends "management/layout.html" %}
{% load bootstrap5 %}
{% block title %}
{% endblock %}
{% block content %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<section class = "vip_member">
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-4 bg-info">
                <h3>Thêm thành viên mới</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- {{ AddF.as_p }}   -->
                    <label>Ma the</label>
                    <input type="text" name="ma_the" class="form-control">
                    <label>Ma KH</label>
                    <input type="text" name="ma_khach_hang" class="form-control">
                    <label>Ten KH</label>
                    <input type="text" name="ten_khach_hang" class="form-control">
                    <label>SĐT</label>
                    <input type="text" name="so_dien_thoai" class="form-control"> <br>
                    <button type="submit" value="{{KH_Hang}}" name="AddKH" class="btn btn-light">Submit</button>
                </form>
                
            </div>
            <div class="col-sm-8 bg-warning">
                <h3 class=" ">Danh sách Vip Member</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th>Mã thẻ</th>
                                <th>Tên khách hàng</th>
                                <th>Tiền tích luỹ</th>
                                <th>Hạng</th>                       
                            </tr>
                        </thead>
                        <tbody>
                        {% for thethanhvien in thethanhviens %}
                            <tr>
                                {% comment %} <th scope="row"></th> {% endcomment %}
                                <td>{{thethanhvien.ma_the}}</td>
                                <td>{{thethanhvien.ma_khach_hang.ten_khach_hang}}</td>
                                <td>{{thethanhvien.tien_tich_luy}}</td>
                                <td>{{thethanhvien.hang}}</td>
                                <td><button type='submit' class="btn btn-light" value="{{thethanhvien.ma_the}}" name="DelKH">Xoá</button></td>
                                {% comment %} <th></th> {% endcomment %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                
            </div>
            <!-- <div class="col-sm-2 bg-info"></div> -->
        </div>
    </div>
</section>

{% endblock %}